{% extends "base.html" %}



    







      {% block content %}
      <div class='col-sm-7 col-sm-offset-1'>
          
      <h1  style="color:#18d26e; font:bold 25px Tahoma">{{ title }}</h1>
      <div  class="row">
        
        <!--div class="col-sm-14"-->
       <div class="card-body">



        <p><br/>Finance Zone believes there is a splendid path to manage your finance and make more money. We assist our readers in identifying their top financial goals and reaching them.
<br/><br/>
 We believe personal finance is real. We get people talking about earning and saving money by creating thrilling contents that makes the topic worth talking about and inspiring.
<br/><br/>
 Our aim is to improve the lives of everyday individuals by helping them spend less time being anxious about their finances and more time loving their lives as we give them the latest contents, news and information in the world of finance globally.
        </p>
           
    
    
    </div>
    </div>

      
      <!--div class="row masthead-block flex-row"-->
      
      
     
      
      <!--div class="pagination" style="margin:60px 7px">
        <span class="step-links">
            {% if object_list.has_previous %}
                <a style="color:#18d26e" href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
            {% endif %}
      
            <span class="current">
                Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
            </span>
      
            {% if object_list.has_next %}
                <a style="color:#18d26e" href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
            {% endif %}
        </span>
      </div>
      
      
      
      </div-->

      
    
</div>
      {% endblock content %}